<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand">Dashboard Biblioteca</span>
        </div>
    </nav>
    <div class="container">
        <div class="user-info" id="userInfo">
            <p id="userName"></p>
            <p id="userEmail"></p>
        </div>

        <h1>Libros</h1>
        <table class="table" id="book-list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Autores</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los libros serán cargados aquí -->
            </tbody>
        </table>

        <h2>Actualizar Libro</h2>
        <form id="update-book-form">
            <div class="mb-3">
                <label for="book-id" class="form-label">ID del Libro</label>
                <input type="text" class="form-control" id="book-id" readonly>
            </div>
            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo">
            </div>
            <div class="mb-3">
                <label for="editorial" class="form-label">Editorial</label>
                <input type="text" class="form-control" id="editorial">
            </div>
            <div class="mb-3">
                <label for="fechaDePublicacion" class="form-label">Fecha de Publicación</label>
                <input type="date" class="form-control" id="fechaDePublicacion">
            </div>
            <div class="mb-3">
                <label for="autores" class="form-label">Autores</label>
                <input type="text" class="form-control" id="autores">
            </div>
            <div class="mb-3">
                <label for="genero" class="form-label">Género</label>
                <input type="text" class="form-control" id="genero">
            </div>
            <div class="mb-3">
                <label for="resumen" class="form-label">Resumen</label>
                <textarea class="form-control" id="resumen"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar Libro</button>
        </form>

        <a href="/home" type="button" class="btn btn-dark">Volver al Dashboard</a>
        <div id="message"></div>
    </div>

    <script src="biblioDash.js"></script>
</body>
</html>
